.root {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input_message {
  width: 100%;
  border-radius: 30px;
  background: var(--light-grey);
  padding: 10px 20px;
  border: none;
  height: 32px;
  box-sizing: border-box;
}

.send_icon {
  cursor: pointer;
}
