.button {
  display: flex;
  width: 100%;
  background: none;
  border: none;
  align-items: center;
  gap: 15px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .5;
  }

  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
}
