.footer {
  display: flex;
  gap: 10px;
  padding: 11px 0;
  border-top: 1px solid var(--border-color);
}

.input_message {
  width: 100%;
  border-radius: 30px;
  background: var(--light-grey);
  padding: 10px 20px;
  border: none;
  height: 32px;
  box-sizing: border-box;
}
