.user_item {
  display: flex;
  gap: 10px;
  cursor: pointer;

  .description_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .avatar_class {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    object-fit: fill;
  }

  .login_class {
    color: var(--dark-color);
    font-size: 16px;
  }

  .email_class {
    color: var(--gray-color);
    font-size: 14px;
  }
}

.user_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}
