:root {
  --primary-color: #3369F3;
  --primary-light-color: #E4EDFD;
  --secondary-color: #FBFBFB;
  --error-color: #FF2F2F;
  --dark-color: #1E1E1E;
  --light-color: #FFF;
  --gray-color: #999;
  --light-grey: #EFEFEF;
  --border-color: #EAEAEA;
  --message-bg-color: #F8F8F8;
}
