@use "@styles" as *;

.sidebar {
  min-width: 310px;
  width: 310px;
  background: var(--secondary-color);
  height: 100%;
}

.dropdown_menu__position {
  top: 30px;
  left: 0;
}

.top {
  padding: 20px 25px 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_wrapper {
  margin: 23px 10px 0;
}

.messages_wrapper {
  margin-top: 14px;
  height: calc(100% - 112px);
  overflow: auto;
}

.profile_link {
  font-size: 12px;
  position: relative;
  color: var(--gray-color);
  cursor: pointer;

  &::after {
    content: '';

    @include center-y;

    right: -10px;
    display: block;
    width: 6px;
    height: 10px;
    background-image: url("./right-arrow.svg");

  }
}
