.user_icon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  object-fit: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--border-color);
}

.dropdown_menu__position {
  top: 30px;
  right: 0;
}

.user_info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.menu_wrapper {
  padding: 5px 11px;
  cursor: pointer;
}
