.content {
  padding: 40px 30px;
}

.button_wrapper {
  margin-top: 33px;
}

.fields_wrapper {
  margin-top: 50px;
}

.title_class {
  font-weight: 500;
  font-size: 15px;
  line-height: 133%;
  color: var(--dark-color);
  text-align: center;
}
